%main
  %div
    %p We do not use cookies and we do not collect any personal data.
    %p No personal information is collected, stored in the browser, shared, sent, or sold to third-parties.
    %p
      Effective Date:
      %em 1st Jan 2022
