html > body > header {
  width: 100%;
  min-width: unset;
  max-width: unset;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  background: white;
}
html body.about main blockquote {
  padding: 0.6em;
  border: unset;
  margin: 0.75em;
  margin-left: 2.3em;
  width: fit-content;
  max-width: 70%;
  background-color: #eee;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px #dadada;
}
html body.about main blockquote p {
  padding: 0.5em;
  margin: 0;
}
html body main div ul li {
  line-height: 1em;
}
html body main div p.tagline {
  font-size: 1.5em;
  text-align: center;
}
header a {
  border: none;
}
header a:hover {
  text-decoration: none;
}
header nav {
  box-shadow: 0 5px 10px;
  margin-bottom: 2em;
  display: flex;
}
header nav ul {
  padding: 0;
}
header nav ul li {
  margin: 0 1em;
}
header nav ul a {
  font-size: 1.5em;
  line-height: 1em;
}
header img {
  width: 50px;
  height: 50px;
  margin-top: 0.25em;
  margin-left: 0.5em;
  margin-bottom: 0;
}
div.hero {
  display: flex;
  align-items: center;
}
img.logo {
  margin: auto;
  width: 50%;
  height: 50%;
}
.image-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.image-wrap > * {
  margin: 0;
}
.image-wrap > * > * {
  margin: 1em;
}
.cta {
  text-align: center;
  font-size: xx-large;
}
div.address {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  background-color: var(--a1);
}
div.address p {
  margin: 1em;
  color: white;
  font-size: x-large;
}
div.address p a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.form {
  margin: auto;
  max-width: 80%;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}
.form .row {
  display: flex;
}
.form .row label {
  width: 80%;
  align-content: space-between;
}
.form .row label:first-child {
  margin-right: 1em;
}
.form .row label input {
  width: 100%;
}
.form label {
  display: block;
  margin: 0px 0px 15px 0px;
}
.form label > span {
  vertical-align: top;
}
.form > span {
  font-weight: bold;
  padding-top: 8px;
  padding-right: 5px;
}
.form .form-heading {
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px;
}
.form span.required {
  color: red;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  padding: 7px;
  outline: none;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border: 2px solid var(--a2);
}
.form .textarea-field {
  height: 20em;
  width: 100%;
}
.form input[type="submit"],
.form input[type="button"] {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #ff8500;
  color: #fff;
  box-shadow: 1px 1px 4px #dadada;
  border-radius: 3px;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover {
  background: #ea7b00;
  color: #fff;
}
.form label #sendMessageButton {
  float: right;
}
