%main
  %div
    %iframe#timely_initiated_0f.timely-frame(name="timely_initiated_0f" sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads" scrolling="no" src="https://events.timely.fun/bad62zfw?timely_id=timely_initiated_0" style="height: calc(660px)" title="timely_initiated_0f")
