/*!
 * Comet v1.2.0
 * https://github.com/marcbruederlin/comet
 *
 * Copyright (c) 2017 Marc Bruederlin
 * Licensed under the MIT license */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template,
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--f1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;
}
*:after,
*:before {
  box-sizing: inherit;
}
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  a[href^="http://"]:after,a[href^="https://"]:after,a[href^="www."]:after
  {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    display: none;
  }
}
.blockquote {
  margin: 3rem 0;
  padding: 1rem 3rem;
}
.blockquote > p {
  margin: 0;
}
.blockquote > .blockquote__footer {
  margin-top: 0.3rem;
  color: #979daa;
}
.blockquote--highlight {
  border-left: 0.2rem solid var(--a1);
}
.button {
  display: inline-block;
  padding: 0 2rem;
  font-family: inherit;
  font-size: 1.04167rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--c1);
  background-color: var(--a1);
  border: 0.2rem solid var(--a1);
  border-radius: 0.4rem;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.button:disabled:hover {
  background-color: var(--a1);
  border-color: var(--a1);
}
.button:hover,
.button:focus,
.button:active {
  color: var(--c1);
  background-color: var(--a2);
  border-color: var(--a2);
  outline: none;
}
.button--small {
  padding: 0 1rem;
  font-size: 0.86806rem;
  line-height: 3rem;
}
.button--large {
  font-size: 1.5rem;
  line-height: 6rem;
}
.button--outline {
  color: var(--a1);
  background-color: transparent;
}
.button--outline:disabled:hover {
  color: var(--a1);
  background-color: transparent;
}
.button--outline:hover {
  color: var(--a2);
  background-color: transparent;
}
.button--clear {
  color: var(--a1);
  background-color: transparent;
  border-color: transparent;
}
.button--clear:disabled:hover {
  color: var(--a1);
  background-color: transparent;
  border-color: transparent;
}
.button--clear:hover {
  color: var(--a2);
  background-color: transparent;
  border-color: transparent;
}
.code {
  font-family: "Monaco", monospace;
  font-size: 1.25rem;
}
.code--background {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.05);
}
.code--highlight {
  padding: 0.5rem 1rem;
  border-left: 0.2rem solid var(--a1);
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
label,
.form > .form__label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 600;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  display: inline-block;
  width: 100%;
  margin-bottom: 2.3rem;
  padding: 1rem 1.3rem;
  font-family: inherit;
  color: var(--f1);
  border: 0.2rem solid var(--c3);
  border-radius: 0.4rem;
  outline: none;
}
textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 2.3rem;
  padding: 1rem 1.3rem;
  font-family: inherit;
  color: var(--f1);
  border: 0.2rem solid var(--c3);
  border-radius: 0.4rem;
  outline: none;
}
input[type="email"]:focus,
input[type="email"]:active {
  border-color: var(--a1);
}
input[type="number"]:focus,
input[type="number"]:active {
  border-color: var(--a1);
}
input[type="password"]:focus,
input[type="password"]:active {
  border-color: var(--a1);
}
input[type="search"]:focus,
input[type="search"]:active {
  border-color: var(--a1);
}
input[type="tel"]:focus,
input[type="tel"]:active {
  border-color: var(--a1);
}
input[type="text"]:focus,
input[type="text"]:active {
  border-color: var(--a1);
}
input[type="url"]:focus,
input[type="url"]:active {
  border-color: var(--a1);
}
textarea:focus,
textarea:active {
  border-color: var(--a1);
  max-width: 100%;
}
.form__input--success {
  border-color: var(--cg) !important;
}
.form__input--error {
  border-color: var(--cr) !important;
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
}
.grid--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.grid--gapless {
  margin: 0;
}
.grid--gapless .grid__col {
  padding: 0 !important;
}
.grid .grid__col {
  position: relative;
  padding: 0 1rem 1rem;
}
.grid .grid__col--12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.grid .grid__col--11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.grid .grid__col--10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.grid .grid__col--9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.grid .grid__col--8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.grid .grid__col--7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.grid .grid__col--6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.grid .grid__col--5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.grid .grid__col--4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.grid .grid__col--3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.grid .grid__col--2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.grid .grid__col--1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
@media (max-width: 425px) {
  .grid .grid__col--s-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid .grid__col--s-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid .grid__col--s-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid .grid__col--s-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid .grid__col--s-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid .grid__col--s-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid .grid__col--s-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid .grid__col--s-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid .grid__col--s-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid .grid__col--s-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid .grid__col--s-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid .grid__col--s-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .grid .grid__col--m-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid .grid__col--m-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid .grid__col--m-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid .grid__col--m-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid .grid__col--m-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid .grid__col--m-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid .grid__col--m-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid .grid__col--m-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid .grid__col--m-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid .grid__col--m-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid .grid__col--m-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid .grid__col--m-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
a {
  text-decoration: none;
  color: var(--a1);
}
a:hover {
  color: var(--a2);
}
.list {
  margin: 3rem 0;
}
.list--inline > li {
  float: left;
  margin-right: 5rem;
}
.list--inline > li:last-of-type {
  margin-right: 0;
}
.list--unstyled {
  padding: 0;
  list-style: none;
}
dl dt {
  font-weight: 600;
}
dl dd {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
.hr {
  margin: 3.5rem 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(98, 105, 121, 0.25);
  border: none;
}
.hr--small {
  width: 30%;
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table th {
  padding: 0.8rem;
  font-weight: 600;
  border-bottom: 0.2rem solid rgba(98, 105, 121, 0.25);
  vertical-align: bottom;
}
.table td {
  padding: 0.8rem;
  border-top: 1px solid rgba(98, 105, 121, 0.25);
}
.table--striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
.table--hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2;
  color: #000;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  margin: 2rem 0 2rem 0;
}
abbr {
  text-decoration: none;
  border-bottom: 0.1rem dotted #d4d4d4;
  cursor: help;
}
abbr[title] {
  text-decoration: none;
  border-bottom: 0.1rem dotted #d4d4d4;
  cursor: help;
}
.utility__text--left {
  text-align: left;
}
.utility__text--right {
  text-align: right;
}
.utility__text--center {
  text-align: center;
}
.utility__text--highlight {
  padding: 0.25rem;
  color: #000;
  background-color: #fdf72e;
}
.utility__text--loud {
  font-weight: 700;
  color: #343841;
}
.utility__text--quiet {
  color: #979daa;
}
.utility__pos--center {
  margin-left: auto;
  margin-right: auto;
}
.utility__pos--left {
  margin-left: 0;
  margin-right: auto;
}
.utility__pos--right {
  margin-left: auto;
  margin-right: 0;
}
.utility__pos--center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.utility__float--left {
  float: left;
}
.utility__float--right {
  float: right;
}
.utility__clearfix,
.list--inline {
  *zoom: 1;
}
.utility__clearfix:before,
.list--inline:before,
.utility__clearfix:after,
.list--inline:after {
  content: " ";
  display: table;
}
.utility__clearfix:after,
.list--inline:after {
  clear: both;
}
.utility__hidden--s,
.utility__hidden--m,
.utility__hidden--l {
  display: initial;
  visibility: visible;
}
@media (min-width: 769px) {
  .utility__hidden--m.utility__hidden--l {
    display: none;
  }
  .utility__hidden--l.utility__hidden--s {
    display: none;
    display: none;
  }
}
@media (max-width: 425px) {
  .utility__hidden--l.utility__hidden--s,
  .utility__hidden--s {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .utility__hidden--m.utility__hidden--l {
    display: none;
    display: none;
  }
}
