%main
  %div
    .hero
      %img.logo(alt="ACSL Logo" src="CompleteLogo.svg")/
    %p.tagline
      The Talent, Technologies, and Techniques for
      %br>/
      Reliable, Secure, and Trustworthy Systems.
    .image-wrap
      %div
        %p The Advanced Cyber Systems Lab (ACSL) at Gateway Community College provides hands-on learning opportunities for people to expand and enhance their skills in the technology sector.
        %p The program is informed by the ACETL (Advanced Cyber Education &amp; Technology Labs) initiative from egx.org with a focus on security best practices and research on: hardened and security kernel OSes, correct by construction software and systems, language theoretic security, and formal methods.
      %img(alt="" src="lab_images/ACSL-2022-02-03-IMG_2245.jpg")/
    .image-wrap
      %img(alt="" src="lab_images/ACSL-2022-02-03-IMG_2229.jpg")/
      %ul
        %li Explore current and emergent IT topics in a hands-on, real-world environment.
        %li Work side by side with experienced industry professionals on impactful projects utilizing cutting edge technology and best practices.
        %li Test new technologies and ideas in the lab to understand their strengths and limitations before deploying them in production.
        %li Improve cybersecurity training and help build the high ground in defensive system design.
        %li Engage in the tech and cybersecurity community, and network with professionals from the Phoenix Metro Area &amp; greater Arizona.
    %p.cta We look forward to seeing you soon!
    .address
      %p
        Located at
        %br/
        GateWay Community College
        %br/
        Washington Campus
      %p
        Room
        %strong MA 2108
        %br/
        108 N 40th St,
        %br/
        Phoenix, AZ 85034
      %p
        Check the
        %a(href="calendar") calendar
        for open days and hours.
