%main
  .form
    .form-heading Contact us if you have additional questions:
    %form(action="https://formforsite.com/send/Y29udGFjdEBhemFjc2wuY29t" method="POST" name="contact")
      %input(name="_error-page-redirect" type="hidden" value="https://www.azacsl.com/contact-error")/
      %input(name="_success-page-redirect" type="hidden" value="https://www.azacsl.com/contact-success")/
      .row
        %label
          %span
            Name
            %span.required *
          %br/
          %input#name.input-field(data-validation-required-message="Please enter your name." name="name" placeholder="Name" required="" type="text")/
        %label
          %span
            Email
            %span.required *
          %br/
          %input#email.input-field(data-validation-required-message="Please enter your email address." name="email" placeholder="name@example.com" required="" type="email")/
      %label
        %span Message
        %br/
        %textarea#message.textarea-field(data-validation-required-message="Please enter a message." name="message" placeholder="Message" required="" rows="5")
      #success
      %label
        %span
        %button#sendMessageButton(type="submit") Send
