%main
  %div
    %p The Advanced Cyber Systems Lab was created to fulfill 3 primary missions:
    %h2#1-connect-the-software-development-and-cyber-security-communities 1. Connect the Software Development and Cyber Security Communities
    %figure
      %blockquote
        %p If debugging is the process of removing software bugs, then programming must be the process of putting them in.
        %figcaption –Edsger W. Dijkstra
    %p Since the beginnings of modern computing a gulf has existed between developers that create code and various security personnel that attempt to secure these systems. Unfortunately this approach can never be truly successful as security (lack of weird machines) is an intrinsic property of a system and not something that can be layered on top later.
    %p At the ACSL we explore technologies and techniques to prevent the introduction of bugs and security issues:
    %ul
      %li
        %a(href="https://www.openbsd.org/security.html#default" rel="noopener" target="_blank") Secure by default systems
      %li
        %a(href="https://www.openbsd.org/security.html#newtech" rel="noopener" target="_blank") Mitigation of entire classes of security vulnerabilities
      %li
        %a(href="https://analysis-tools.dev/" rel="noopener" target="_blank") Static and Dynamic Analysis
      %li
        %a(href="https://www.gresham.ac.uk/lectures-and-events/making-software-correct-by-construction" rel="noopener" target="_blank") Correct by Construction Software
      %li
        %a(href="https://langsec.org/" rel="noopener" target="_blank") Language-theoretic Security
      %li
        %a(href="https://cacm.acm.org/magazines/2018/10/231372-formally-verified-software-in-the-real-world/fulltext" rel="noopener" target="_blank") Formally Verified Software
      %li
        %a(href="https://gitlab.com/egrieco/rocket-surgery" rel="noopener" target="_blank") And other techniques and technologies
    %p While total elimination of defects and bugs is the ultimate goal, reducing whole classes of software defects and bugs provides a dramatic improvement in security and reliability over today's industry standard practices. Choosing appropriate systems like OpenBSD and Rust can rapidly move us toward these goals.
    %h2#2-promote-experimentation-and-innovation-in-a-non-production-setting 2. Promote Experimentation and Innovation in a Non-Production Setting
    %blockquote
      %p Test and perfect on our systems so you can deploy better solutions in production.
    %p Production systems should be secure, reliable and trustworthy. Businesses are thus not inclined to make radical changes to their systems, nor should they be.
    %p Further, many educational institutions make the mistake of buying the most expensive systems possible. This inevitably leads to keeping students away from such systems for fear that they will break them. It's rather difficult learn on "off limits" systems.
    %p
      Equipment and systems in the ACSL have been provided by
      %a(href="https://egx.org" rel="noopener" target="_blank") egx.org
      specifically for such experimentation and testing. Attendees are heavily encouraged to roll up their sleeves, rack-up a server, install and OS and write the next great system on top of it.
    %h2#3-advance-the-state-of-secure-reliable-and-trustworthy-systems 3. Advance the State of Secure, Reliable, and Trustworthy Systems
    %blockquote
      %p When everything is connected, everything is critical infrastructure.
    %p Critical systems are obviously necessary in medical, industrial, military, aviation, etc. Less obvious are the consequences of connecting systems together and how this increases attack surfaces and reduces damping and propagation times.
    %p Global losses due to security incidents were $1.5 Trillion. What's lesser known is that losses due to defective and buggy software were $2 Trillion.
    %p A rapid and widespread transition to High Assurance systems seems unlikely as such technologies have been around for decades. At the ACSL we work with attendees and businesses to find a reasonable path toward such systems.
    %p Now that most businesses have become comfortable with Linux, we encourage the transition to better hardened and more rigorously designed systems like OpenBSD. It's a small step with important security advantages.
